---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "About"
---

<BaseLayout pageTitle={pageTitle}>
	<main>
		<h1>{pageTitle}</h1>
		<h2>Sammelsurium und Spielplatz</h2>

		<p>Ein Ort an dem ich meine Interessen teile.</p>
	</main>
</BaseLayout>
