---
import BaseLayout from "../layouts/BaseLayout.astro"

const allSongs = await Astro.glob("/public/audio/songs/*.mp3")

console.log("was isch", allSongs)

const pageTitle = "Audio"
---

<BaseLayout pageTitle={pageTitle}>
	<main class="flex h-full p-4 justify-evenly items-center">
		{
			allSongs.map((song) => (
				<div class="bg-slate-800 bg-opacity-30 rounded-xl border-primary-300 border-2 border-opacity-10">
					<div class="flex h-14 m-2">
						<img
							class="p-1"
							alt=""
							height="60"
							width="60"
						/>
						<div class=" flex flex-col p-1 mx-1">
							<span class="  text-xl">Title</span>
							<span class="text-primary-200 text-opacity-80">Album</span>
						</div>
					</div>
					<audio
						id="player-control-panel "
						class="p-1 m-0 "
						controls
					>
						<source
							class=""
							src={song.default}
							type="audio/mpeg"
						/>
						Your browser does not support the audio element.
					</audio>
				</div>
			))
		}
	</main>
</BaseLayout>
