---
import BlogPost from "../components/BlogPost.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
const allPosts = await Astro.glob("../pages/posts/*.md")
const pageTitle = "The Hole"
---

<BaseLayout pageTitle={pageTitle}>
	<main>
		<h1>Das Loch</h1>
		<h1>Programmierer Künstler</h1>
		<h2>...nimm nur einen Schluck!</h2>

		<p>Dies könnte der erste Blogpost sein</p>

		<p>Und hier steht nich mehr dazu</p>
		<ul>
			{
				allPosts.map((post) => (
					<BlogPost
						url={post.url}
						title={post.frontmatter.title}
					/>
				))
			}
		</ul>
	</main>
</BaseLayout>
