---
import BaseLayout from "../layouts/BaseLayout.astro"

import BlogPostPreview from "../components/BlogPostPreview.astro"

const allPosts = await Astro.glob("../pages/posts/*.md")

const pageTitle = "Blog Posts"
---

<BaseLayout pageTitle={pageTitle}>
	<main class="text-slate-200 mx-auto">
		<ul>
			{
				allPosts.map((post) => (
					<BlogPostPreview
						url={post.url}
						title={post.frontmatter.title}
						description={post.frontmatter.description}
					/>
				))
			}
		</ul>
	</main>
</BaseLayout>
