---
import Layout from "../layouts/Layout.astro"
const pageTitle = "The Hole"
---

<Layout title={pageTitle}>
	<main>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>

		<h1>Das Loch</h1>
		<h1>Programmierer Künstler</h1>
		<h2>...nimm nur einen Schluck!</h2>

		<p>Dies könnte der erste Blogpost sein</p>

		<p>Und hier steht nich mehr dazu</p>
		<ul>
			<li><a href="/posts/post-1/">Post 1</a></li>
			<li><a href="/posts/post-2/">Post 2</a></li>
			<li><a href="/posts/post-3/">Post 3</a></li>
		</ul>
	</main>
</Layout>
