---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "Welcome to the Hole."
---

<BaseLayout pageTitle={pageTitle}>
	<main class="flex justify-center">
		<h1 class="text-6xl pt-4 font-bold">Wilkommen</h1>
		<h2></h2>
	</main>
</BaseLayout>
