---
import BaseLayout from "../layouts/BaseLayout.astro"
import Greeting from "../components/Greeting"

const pageTitle = "Welcome to the Hole."
---

<BaseLayout pageTitle={pageTitle}>
	<main>
		<h2>Welcome to <span class="text-gradient">the Hole</span></h2>

		<Greeting
			client:load
			messages={["Hej", "Hallo", "Hola", "Habari"]}
		/>
	</main>
</BaseLayout>
