---
import BlogPostPreview from "../components/BlogPostPreview.astro"
import PageHeadline from "../components/Headlines/PageHeadline.astro"
import BaseLayout from "../layouts/BaseLayout.astro"

const allPosts = await Astro.glob("../pages/posts/*.md")
const lastPost = allPosts.slice(-1)

const pageTitle = "Welcome to the Hole."
---

<BaseLayout pageTitle={pageTitle}>
	<main class="flex justify-center items-center flex-1">
		<PageHeadline
			href="/blog"
			text="RABBITHOLE_AI"
		/>
	</main>
</BaseLayout>
