---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "Welcome to the Hole."
const pageBackground = "bg-index-bg"
---

<BaseLayout
	pageTitle={pageTitle}
	pageBackground={pageBackground}
>
	<main class="flex flex-col">
		<h1
			class="text-5xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl drop-shadow-[0_6px_2px_rgba(217,70,239,0.8)] text-center font-bold transition duration-500"
		>
			<a
				class="hover:drop-shadow-xl hover:shadow-fuchsia-900 hover:transition duration-700"
				href="/about"
				>RABBITHOLE_AI</a
			>
		</h1>
		<div
			class="text-2xl drop-shadow-[0_6px_1px_rgba(217,70,239,0.8)] text-center font-bold"
		>
			<a
				class="hover:drop-shadow-xl hover:shadow-fuchsia-900 hover:transition duration-700"
				href="/visual"
				>SEHEN</a
			>
			<span class="hidden md:inline-flex">-</span>
			<a
				class="hover:drop-shadow-xl hover:shadow-fuchsia-900 hover:transition duration-700"
				href="/audio"
				>HÖREN</a
			>
			<span class="hidden md:inline-flex">-</span>
			<a
				class="hover:drop-shadow-2xl hover:shadow-fuchsia-900 hover:transition duration-700"
				href="/blog"
				>SAGEN</a
			>
		</div>
	</main>
</BaseLayout>
