---
import BaseLayout from "../layouts/BaseLayout.astro"

const allPhotos = await Astro.glob("../../public/images/background/*.jpg")

const pageTitle = "Visual"
---

<BaseLayout pageTitle={pageTitle}>
	<main class="grid grid-cols-3 gap-4">
		{
			allPhotos.map((photo) => (
				<img
					class="object-scale-down aspect-auto  hover:dropshadow-2xl hover:scale-105 hover:shadow-black duration-300"
					src={photo.default}
				/>
			))
		}
	</main>
</BaseLayout>
