---
const { url, title, description } = Astro.props
---

<li
	class="bg-fuchsia-100 bg-opacity-40 shadow-fuchsia-400 hover:bg-fuchsia-50 hover:shadow-2xl hover:shadow-fuchsia-800 duration-700 ease-in my-2"
>
	<a
		class="text-2xl drop-shadow-[0_0px_0px_rgba(217,70,239,0.8)] text-center m-5 hover:drop-shadow-[0px_-10px_20px_rgba(217,70,239,0)] duration-700 ease-in-out"
		href={url}
	>
		<div class="h-full p-3 font-bold">
			<h3>{title}</h3>
			<small>{description}</small>
		</div>
	</a>
</li>
