---
const { url, title, description, content } = Astro.props
---

<a
	class="rounded-sm border-primary-300 bg-slate-950 bg-opacity-20 z-10 hover:z-0 border-2 px-3 align-middle shadow-none hover:shadow-[0px_0px_400px_50px_rgba(240,171,252,0.9)] hover:bg-fuchsia-300 hover:bg-opacity-10 p-2 text-primary-300 hover:border-opacity-70 border-opacity-5 hover:scale-105 duration-1000"
	href={url}
>
	<article>
		<div class="my-1 border-b-2 border-opacity-10 border-primary-400 py-1">
			<h1 class="font-bold text-xl leading-4 text-primary-300 text-opacity-80">
				{title}
			</h1>
			<em class="text-sm text-primary-300 text-opacity-40">{description}</em>
		</div>

		<pre
			class="whitespace-break-spaces overflow-hidden max-h-44">
			<Fragment set:html={content} />
		</pre>
		<!-- <span class="text-lg">[...]</span> -->
	</article>
</a>
