---
const { url, title, description } = Astro.props
---

<a
	class="rounded-sm border-primary-300 border-2 px-3 align-middle shadow-none hover:shadow-[0px_0px_400px_50px_rgba(240,171,252,0.9)] hover:bg-fuchsia-300 hover:bg-opacity-20 duration-1000 p-2 text-primary-300"
	href={url}
>
	<div>
		<h3 class="font-bold">{title}</h3>
		<em class="text-sm">{description}</em>
		<p class="font-thin">asd</p>
	</div>
</a>
