---
---

<button class="cursor-pointer p-4 self-end focus-within:bg-red-500">
	<span class="block w-10 h-1 mb-2 bg-fuchsia-600/60"></span>
	<span class="block w-10 h-1 mb-2 bg-fuchsia-600/60"></span>
	<span class="block w-10 h-1 mb-2 bg-fuchsia-600/60"></span>
</button>
