---
---

<button class="cursor-pointer flex flex-col m-2">
	<span class="w-10 h-1.5 m-1 bg-fuchsia-600/60"></span>
	<span class="w-10 h-1.5 mx-1 bg-fuchsia-600/60"></span>
	<span class="w-10 h-1.5 m-1 bg-fuchsia-600/60"></span>
</button>
