---
import Navbar from "./Navbar"
import Navigation from "./Navigation.astro"
import ThemeIcon from "./ThemeIcon.astro"
---

<header>
	<nav class="w-full flex">
		<Navbar client:load />

		<!-- <Navigation isVisible={false} /> -->

		<!-- <ThemeIcon /> -->
	</nav>
</header>
