---
const navPages = [
	["Home", "/"],
	["About", "/about/"],
	["Blog", "/blog/"],
	["Themen", "/tags/"],
]
---

<ul class="w-full flex justify-around items-center">
	{
		navPages.map(([title, url]) => (
			<a
				href={url}
				class="rounded-lg font-medium text-fuchsia-100  hover:text-fuchsia-900 "
			>
				{title}
			</a>
		))
	}
</ul>
