---
const navPages = [
	["Home", "/"],
	["About", "/about/"],
	["Blog", "/blog/"],
	["Themen", "/tags/"],
]
---

<ul
	id="navLinks"
	class="w-full flex justify-around items-center opacity-0"
>
	{
		navPages.map(([title, url]) => (
			<a
				href={url}
				class="rounded-lg font-medium text-fuchsia-100  hover:text-fuchsia-900 "
			>
				{title}
			</a>
		))
	}
</ul>

<button
	class="cursor-pointer flex flex-col m-2"
	onclick="changeOpacity"
>
	<span class="w-10 h-1.5 m-1 bg-fuchsia-600/60"></span>
	<span class="w-10 h-1.5 mx-1 bg-fuchsia-600/60"></span>
	<span class="w-10 h-1.5 m-1 bg-fuchsia-600/60"></span>
</button>

<script>
	const changeOpacity = () => {
		if (document != null) {
			const ul = document
				.getElementById("navLinks")
				.classList.toggle("opacity-0")
		}
	}
</script>
