---
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"

export interface Props {
	pageTitle: string
}

const { pageTitle } = Astro.props
---

<!DOCTYPE html>
<html
	lang="de"
	class="scrollbar-none"
>
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<link
			rel="icon"
			type="png"
			href="/favicon.png"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<title>{pageTitle}</title>
	</head>
	<body
		class="bg-gradient-to-t dark:from-purple-900 dark:to-black from-fuchsia-100 to-fuchsia-200 bg-no-repeat bg-cover dark:text-white max-w-screen min-h-screen flex flex-col"
	>
		<Header />

		<slot />
	</body>
</html>
