---
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import MusicPlayer from "../components/MusicPlayer.astro"

export interface Props {
	pageTitle: string
}

// wird zum Attribut <BaseLayout pageTitle="" />
const { pageTitle } = Astro.props
---

<!DOCTYPE html>
<html
	lang="de"
	class="scrollbar-none"
>
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<link
			rel="icon"
			type="png"
			href="/favicon.png"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<title>{pageTitle}</title>
	</head>
	<body
		class="bg-gray-950 text-fuchsia-300 min-h-screen min-w-screen flex flex-col"
	>
		<Header />

		<slot />

		<MusicPlayer />
	</body>
</html>
